# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/

# macOS
.DS_Store

# Node.js / React frontend
Frontend/node_modules/
Frontend/build/

# Logs
*.log
